{
  "env": {
    "jest": true
  },
  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off"
  }
}
